.main {
    background-color: #FAF7F4;
    padding: 20px;
}

nav {
    background-color: rgb(48, 82, 102);
    height: 40px;
    padding: 8px;
    width: 100%;
}

nav ul li {
    list-style-type: none;
    width: 150px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    text-align: right;
    color: #f1f1f1;
    font-family: 'Exo' , sans-serif;
}

nav ul li img {
    list-style-type: none;
    float: left;
    position: relative;
    bottom: 25px;
    height: 60px;
}

.Header {
    color: #101B6E;
    text-align: center;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
}

.About {
    display: flex;
    height: 230px;
    width: 100%;
    justify-content: space-between;
    align-content: space-evenly;
}

.WhyUXCard {
    box-shadow: 2px 2px 2px 2px rgba(3,3,3,0.2);
    transition: 0.3s; 
    padding: 2px 16px;
    text-align: center;
    border-radius: 2px;
    width: 500px;
    color: #f1f1f1;
    background-color: rgb(48, 82, 102);
    transition: .5s;
}


.WhyUXCard h4 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    color: #f1f1f1;
}

.ProfilePicture img {
    height: 225px;
    align-content: center;
    width: 300px;
    padding: 2px;
}

.AboutMe {
    box-shadow: 2px 2px 2px 2px rgba(3,3,3,0.2);
    transition: 0.3s; 
    padding: 2px 16px;
    text-align: center;
    border-radius: 2px;
    width: 500px;
    color: #f1f1f1;
    background-color: rgb(48, 82, 102);
}
.AboutMe h4 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    color: #f1f1f1;
}

.Projects h2{
    font-family: 'Shadows Into Light', cursive;
    color: #101B6E;
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

.P1 {
    display: flex;
    height: 220px;
    align-content: space-evenly;
    justify-content: space-between;
}

.Project1 {
    box-shadow: 2px 2px 2px 2px rgba(.3,.3,.3,0.2);
    position: relative; 
    background: rgb(48, 82, 102); 
    background: rgb(48, 82, 102);
    color: #f1f1f1; 
    width: 20%; 
    padding: 20px;
    transition: all 2s;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    height: 225px;
}

.Project1Text {
    visibility: hidden;
}

.Project1:hover {
    animation: ease;
    text-align: center;
    color: #f05a94;
    background-color: black;
}

.Project1:hover .Project1Text {
    visibility: visible;
    text-align: center;
}

.Project2 {
    box-shadow: 2px 2px 2px 2px rgba(.3,.3,.3,0.2);
    max-width: 800px;
    background: rgb(48, 82, 102); 
    background: rgb(48, 82, 102);
    color: #f1f1f1; 
    width: 20%; 
    padding: 20px;
    transition: all 1.7s;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    height: 225px;
}

.Project2Text {
    visibility: hidden;
}

.Project2:hover {
    animation: ease;
    text-align: center;
    color: #4E9298;
    background-color: #582e78;
}

.Project2:hover .Project2Text {
    visibility: visible;
    text-align: center;
}

.Project3 {
    box-shadow: 2px 2px 2px 2px rgba(.3,.3,.3,0.2);
    max-width: 800px;
    position: relative;
    background: rgb(48, 82, 102); 
    background: rgb(48, 82, 102);
    color: #f1f1f1; 
    width: 20%;
    padding: 20px;
    transition: all 1.7s;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    height: 225px;
}

.Project3Text {
    visibility: hidden;
}

.Project3:hover {
    animation: ease;
    text-align: center;
    color: #f1f2f5;
    background-color: #2a5993;
}

.Project3:hover .Project3Text {
    visibility: visible;
    text-align: center;
}

.P2 {
    display: flex;
    height: 220px;
    align-content: space-evenly;
    justify-content: space-between;
}


.Project4 {
    box-shadow: 2px 2px 2px 2px rgba(.3,.3,.3,0.2);
    max-width: 800px;
    background: rgb(48, 82, 102); 
    background: rgb(48, 82, 102);
    color: #f1f1f1; 
    width: 20%; 
    padding: 20px;
    transition: all 1.7s;
    margin-top: 150px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    height: 225px;
    margin-left: 20%;
}

.Project4Text {
    visibility: hidden;
}

.Project4:hover {
    animation: ease;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #9e2222;
}

.Project4:hover .Project4Text {
    visibility: visible;
    text-align: center;
}

.Project5 {
    box-shadow: 2px 2px 2px 2px rgba(.3,.3,.3,0.2);
    max-width: 800px;
    position: relative; 
    background: rgb(48, 82, 102); 
    background: rgb(48, 82, 102);
    color: #f1f1f1; 
    width: 20%; 
    padding: 20px;
    transition: all 1.7s;
    margin-top: 150px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    height: 225px;
    margin-right: 19%;
}

.Project5Text {
    visibility: hidden;
}

.Project5:hover {
    animation: ease;
    text-align: center;
    color: #b9cde0;
    background-color: rgb(7, 102, 57);
}

.Project5:hover .Project5Text {
    visibility: visible;
    text-align: center;
}


hr {
    margin-top: 300px;
}

.Contact h2 {
    color: #101B6E;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}


.Footer {
    margin-top: 300px;
    margin-bottom: 150px;
    width: 100%;
}

.InfoFooter ul {
list-style-type: none;
width: 90%;
float: left;
display: flex;
justify-content: space-between;
align-content: space-between;
text-align: right;
color: black;
text-decoration: none;
}

.InfoFooter ul li {
    text-decoration: none;
    color: black;
}

.InfoFooter ul li a {
    text-decoration: none;
    color: black;
}

.main2 {
    background-color: white;
    padding: 20px;
}
/*

nav {
    background-color: black;
    height: 40px;
    padding: 8px;
    width: 100%;
}

nav ul li {
    list-style-type: none;
    width: 150px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    text-align: right;
    color: white;
    font-family: 'Exo' , sans-serif;
}

nav ul li img {
    list-style-type: none;
    float: left;
    position: relative;
    bottom: 25px;
    height: 60px;
}

*/

.Header2 {
    color: #f05a94;
    text-align: center;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
}
